<div class="container shopping-cart-page">
    <div class="row">
        <h1 class="text-left info-label-font">CART OVERVIEW <span class="label label-default"></span></h1>
    </div>
    <!-- content -->
    <div class="row cart-table-wrapping">
        <div class="table-responsive">
          
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="col-md-4 text-center">NAME</th>
                    <th class="text-center">OPTIONS</th>
                    <th class="text-center">QUANTITY</th>
                    <th class="text-center">PRICE</th>
                    <th class="text-center">REMOVE</th>
                </tr>
                </thead>

                <tbody>
                {% for item in cart.items %}
                  <tr>
                    <td>
                        <div style="display: inline">
                            <img src="{{ item.product.featured_image | product_img_url: '110x165' }}"  alt="{{ item.product.title }}" class="lookbook-image" style="height: 165px; width: 110px; margin: 0px 40px 0px 20px;">
                          
                        </div>
                      <a href="{{item.product.url}}"><p style="display: inline; color: #000000">{{item.product.title}}</p></a>
                    </td>
                    <td class="text-center product-options">
                      	<p>{{ item.variant.option2 }}</p>
                      	<p>{{ item.variant.option3 }}</p>
                      
                    </td>
                    <td class="text-center">
                      <p>{{item.quantity}}</p>
                    </td>
                    <td class="text-center">
                        <p>€ {{ item.line_price}}</p>
                    </td>
                    <td class="text-center">
                        <a href="/cart/change?line={{ forloop.index }}&quantity=0" style="color: black"><i class="glyphicon glyphicon-trash icon-padding"></i></a>
                    </td>
                </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row cart-table-wrapping cart-table-border">
        <div class="table-responsive">
            <form action="/cart" method="post" id="cartform">
              <table class="no-border-available table">
                <tbody>
                <tr>
                    <td class="col-md-6 text-left">
                      <a href="/collections/all" style="color: black"><p>Go back to shopping!</p></a>
                    </td>
                    <td class="col-md-2 text-center">
                       <input style="color: black" type="submit" id="update-cart" class="" name="update" value="Update" />
                      
                    </td>
                    <td class="col-md-2 text-center">
                        <p>€ {{ cart.total_price }}</p>
                    </td>
                    <td class="col-md-2 text-center">
                         <input type="submit" id="checkout" class="btn checkout-button" name="checkout" value="CHECK OUT" />
                    </td>
                </tr>
                </tbody>
            </table>
          </form>
        </div>
    </div>
    </div>