<div class="container">
    <div class="row">
        <div class="single-page-free-shipping">
            <p class="text-center">FREE UK SHIPPING ON ORDERS MORE THAN € 50.00</p>
        </div>
    </div>
    <!-- content -->
    <div class="row product-name-price" style="padding-bottom: 50px">
      <div class="col-md-6 col-sm-6 col-xs-12 padding-wrapper-unavailable">
        {% if settings.enable_product_image_zoom %}
            <a href="{{ product.featured_image | product_img_url: 'master' }}" class="cloud-zoom" rel="position: 'inside', showTitle: 'false'" id="placeholder">
              <img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" />
            </a>
        {% else %}
            <a href="{{ product.featured_image | product_img_url: 'master' }}" class="zoom" id="placeholder">
              <img src="{{ product.featured_image | product_img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" />
            </a>
        {% endif %}
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 wrapper-single-product">
           <div class="product-name-price">
             <p class="product-name">{{product.title}}</p>
               <p class="product-price">{{product.price | money_with_currency}}</p>
           </div>
          {% if product.description.size > 0%} 
           <div class="product-description">
                <h4>Description</h4><br>
             <p>{{product.description}}</p>
           </div>
          {% endif %}
           <div class="product-options">
             {% if product.available %}
             <form action="/cart/add" method="post" class="form-inline" role="form">
               <ul class="list-inline">
               {% if product.variants.size > 0 %}
                 <li>
                   <select class="form-control" value='Size' id="product-select" name='id'>
                   {% for variant in product.variants %}
                   <option style="font-family: proximanova-light; font-size: 16px" value="{{ variant.id }}">{{ variant.option2 }}</option>
                   {% endfor %}
                   </select>
                 </li>
                 <li>
                   <select class="form-control" value='Color' id="product-select" name='id'>
                   {% for variant in product.variants %}
                   <option style="font-family: proximanova-light; font-size: 16px" value="{{ variant.id }}">{{ variant.option3 }}</option>
                   {% endfor %}
                   </select>
                 </li>
                 {% endif %}
                 <li>
                 {% if settings.display_quantity_dropdown %}
                   <div class="selector-wrapper" style="width: 280px">
                     <span style="font-family: proximanova-light; font-size: 16px">Quantity</span>
                     <input id="quantity" type="number" name="quantity" value="1" class="tc item-quantity quantity-field-width"/>
                  </div>
                 {% endif %}
                 </li>
               </ul><!-- product-variants -->
               <input type="submit" value="ADD TO CART" id="addtocart" class="btn checkout-button"/>
               
             </form>
             {% else %}
                Sorry, the product is not available
             {% endif %}
           </div>
          
           <div class="social">
              {% include 'like' %}
            </div> 
        </div>
    </div>
     {% if settings.show_related_products %}
        {% include 'related-products' %}
      {% endif %}  
    
</div>
<div style="display:none" id="preloading">
{% for image in product.images offset: 1 %}
{{ image | product_img_url: 'master' | img_tag }}
{% endfor %}
</div>
<script>
  $(function() {
        $('.selectpicker').selectpicker();
    });
  
</script>
{% if product.variants.size > 1 %}
<script>
(function($) { 
  var variantImages = {},
    thumbnails,
    variant,
    variantImage;
    {% for variant in product.variants %}
       variant = {{ variant | json }};
       if ( typeof variant.featured_image !== 'undefined' && variant.featured_image !== null ) {
         variantImage =  variant.featured_image.src.split('?')[0].replace('http:','');
         variantImages[variantImage] = variantImages[variantImage] || {};
         {% for option in product.options %}
           {% assign option_value = variant.options[forloop.index0] %}
           {% assign option_key = 'option-' | append: forloop.index0 %}
           if (typeof variantImages[variantImage][{{ option_key | json }}] === 'undefined') {
             variantImages[variantImage][{{ option_key | json }}] = {{ option_value | json }};
           }
           else {
             var oldValue = variantImages[variantImage][{{ option_key | json }}];
             if ( oldValue !== null && oldValue !== {{ option_value | json }} )  {
               variantImages[variantImage][{{ option_key | json }}] = null;
             }
           }
         {% endfor %}
       }
    {% endfor %}
    $(window).load(function() {
      thumbnails = $('img[src*="/products/"]').not(':first');
      if (thumbnails.size()) {
        thumbnails.bind('click', function() {
          var image = $(this).attr('src').split('?')[0].replace(/(_thumb|_small|_compact|_medium|_large|_grande)/,'');
          if (typeof variantImages[image] !== 'undefined') {
            {% for option in product.options %}
            if (variantImages[image]['option-{{ forloop.index0 }}'] !== null) {
              $('.single-option-selector:eq({{ forloop.index0 }})').val(variantImages[image]['option-{{ forloop.index0 }}']).trigger('change');
            }
            {% endfor %}
          }
        });
      }
    });
})(jQuery);
</script> 
{% endif %}